<div class="container mx-auto" style="width: 600px"">
  <header class="border-bottom pb-2 mb-5 mt-5">
    <h2><%= t('.title', resource: resource.model_name.human) %></h2>
  </header>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ユーザー</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">画像</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active mt-5" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%= bootstrap_form_with model: @user, url: user_registration_path, id: 'edit_user', class: 'edit_user', local: true do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
      <%= f.file_field :image %>
      </div>
    
      <div class="field">
        
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
    
      <div class="field">
    
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>
    
      <div class="field">
     
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
    
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit t('.update') %>
        <%= link_to t('devise.shared.links.back'), :back %>
      </div>
    <% end %>
    
    <h3 class="mt-5"><%= t('.cancel_my_account') %></h3>
    
    <p><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>
    </div>
    
    <div class="tab-pane fade mt-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%= bootstrap_form_with model: @user, url: user_registration_path, id: 'edit_user', class: 'edit_user', local: true do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.file_field :image %>
      </div>

      <div class="actions">
        <%= f.submit t('.update') %>
        <%= link_to t('devise.shared.links.back'), :back %>
      </div>
    
    <% end %>
    
    
    </div>
  </div>
</div>