
<%= bootstrap_form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.select :store, ["ファミリーマート", "ローソン", "セブンイレブン"], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
   
    <%= form.text_field :name %>
  </div>

  <div class="field">
    
    <%= form.number_field :protein, step: "0.1" %>
  </div>

  <div class="field">
  
    <%= form.number_field :calorie, step: "0.1" %>
  </div>

  <div class="field">
    <%= form.number_field :price, step: "0.1" %>
  </div>

  <div class="field">
    
    <%= form.file_field :image %>
  </div>



  <div class="actions">
    <br>
    <%= form.submit "タスクを登録する", class: "form-control btn-sm btn-primary"%>
  </div>
  <% end %>
