<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>name</ht>
      <th>Store</th>
      <th>Name</th>
      <th>Protein</th>
      <th>Calorie</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.user.name %></td>
        <td><%= task.store %></td>
        <td><%= task.name %></td>
        <td><%= task.protein %></td>
        <td><%= task.calorie %></td>
        <td><%= task.image %></td>
        <td>

          <% unless task.user_id == current_user.id %>
            <% like = Like.find_by(task_id: task.id) %>
            <% if like.present? %> 
              <%= link_to 'いいね解除', like_path(id: like.id), method: :delete, class: 'btn btn-danger' %>             
            <% else %>
              <%= link_to 'いいね', likes_path(task_id: task.id), method: :post, class: 'btn btn-primary' %> 
            <% end %>
            +<%= task.likes.count %>
          <% end %>
        </td>
        <td>
        <% unless task.user_id == current_user.id %>
          <% favorite = Favorite.find_by(task_id: task.id) %>
          <% if favorite.present? %> 
            <%= link_to 'お気に入り解除', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-danger' %>             
          <% else %>
            <%= link_to 'お気に入り', favorites_path(task_id: task.id), method: :post, class: 'btn btn-primary' %> 
          <% end %>
        <% end %>
      </td>

        <td><%= link_to 'Show', task %></td>
        
        <% if current_user.id == task.user_id %>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
